 /* Style Definitions */
 
p
{
	margin-top: 1em;
	text-indent: 0em
}

.small
{
	font-size: 80%;
}

.pagebreak
{
	page-break-before: always;
}

.centered
{
	text-align: center;
}

.bottom
{
	vertical-align: text-bottom;
}

.tablehead
{
	text-align: center;
	font-weight: bold
}

H1 {margin-top: 1em}
H2 {margin-top: 1em}
H3 {margin-top: 1em}
H4 {margin-top: 1em}